:root {
  --red: #da292a;
  --darkerRed: #881c1c;
  --black: #10101e;
  --gray: rgba(84, 89, 95, 0.1);
  --white: #f5f6f7;
  --success: #2ecc71;
  --error: #e74c3c;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.checkbox-container {
  display: flex;
  background-color: var(--gray);
  justify-content: flex-start;
  width: 100%;
  border-radius: 4px;
  border: 2px var(--gray) solid;
}

#checkbox-label {
  display: inline-block;
  margin-bottom: 5px;
}

.checkbox {
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 4px;
}

.checkbox-area {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 16px;
  padding: 10px;
}

.checkbox-area:hover {
  cursor: pointer;
}

.marcado {
  background-color: var(--red);
}
